@model StudentsListViewModel

@if (Model.Students != null && Model.Students.Count() > 0)
{
    <table id="StudentsTable" class="table table-striped">
        <thead>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Data Di Nascita</th>
        <th>Email</th>
        <th>Actions</th>
        </thead>
        <tbody>
            @foreach (var student in Model.Students)
            {
                <tr>
                    <td>@student.Nome</td>
                    <td>@student.Cognome</td>
                    <td>@student.DataDiNascita</td>
                    <td>@student.Email</td>
                    <td>
                        <button onclick="showDetailsModal('@student.Id')">Details</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-danger">Non ci sono studenti in lista!</p>
}
